<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Semantic Retrieval System</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <p>Register:</p>
        <!--sign up form-->
        <form onsubmit="validation(event)">
            <label for="sign_username">Username:</label>
            <input type="text" name="username" id="sign_username">
            <br>
            <label for="sign_password">Password:</label>
            <input type="text" name="password" id="sign_password">
            <br>
            <button type="submit" onclick="signup()">Submit</button>
        </form>
        <p>Already registered? Login!</p>
        <button onclick="window.location='login'">Login</button>
    </body>
</html>